.listado {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 15px;
}

.card-text.estrellas {
    margin-bottom: 5px;
}

.fa.fa-star {
    color: #ffdc00;
    margin: 0 2px;
}

.rounded.amenities {
    width: 25px;
    height: 25px;
    padding-right: 7px;
}

.col-md-4.final {
    padding: 30px 22px;
    border-left: 1px dashed #CCC;
}

p.texto {
    color: #000;
    text-align: center;
    font-size: 14px;
}

.fa.fa-search.text-body {
    color: #157ab1 !important;
}

.card.individual {
    padding: 5px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0 1px 2px hsla(0, 0%, 78%, .66);
}

h4.card-title.titulo-hotels {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
    color: #0679b3;
    margin-bottom: 5px;
}

.card-block {
    padding-left: 0px !important;
    margin-top: 5px;
}

.col-md-4.imagen {
    padding-right: 0px !important;
}

.col-md-4.medio {
    padding-left: 10px !important;
    margin: 0px !important;
}

.ver-hotel {
    font-size: 15px;
    width: 100%;
    font-weight: 600;
    background: #002c77 !important;
    border-color: #002c77 !important;
}

.borrar-hotel {
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
    font-weight: 600;
}

.list-group-item.titulo-filtro {
    font-size: 14px !important;
    color: #157ab1;
    font-weight: 300 !important;
}

.filtros .card {
    border-radius: 0px;
}

.lista {
    padding: 0px;
    margin: 0px;
}

.lista .card {
    border-radius: 0px;
}

.img-thumbnail {
    padding: none !important;
    background-color: none !important;
    border: none !important;
    border-radius: none !important;
    max-width: 100%;
    height: 236px;
}

.filtros {
    padding: 0px;
    margin: 0px;
}

.card.card-sm.filtro {
    width: 95%;
    margin-top: 5px;
}

.card.card-sm.ng-untouched.ng-pristine.ng-valid {
    width: 95%;
    margin-top: 5px;
}

.form-control.form-control-lg.form-control-borderless {
    border: 1px solid #ccc;
    border-radius: 0px;
    font-size: 12px;
    padding: 5px;
    height: 30px;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.btn.btn-success.buscar {
    font-size: 12px;
    padding: 5px !important;
    margin-left: 5px;
    background: #124280 !important;
    border-color: #124280 !important;
    font-weight: 400;
}

h4.price {
    margin-bottom: 20px !important;
    color: #df6800;
    text-align: center;
    font-weight: 600;
}

strong.precio {
    font-size: 18px;
    font-weight: 300;
}

.checkboxes {
    padding: 20px;
}

.checkbox-label {
    font-size: .9rem;
    margin-top: 9px;
}

.titulo-filtro-estrella {
    font-size: 14px;
    color: #157ab1;
    font-weight: 200;
}

.titulo-todas-estrellas {
    font-size: 12px;
}

.check-estrella {
    float: left !important;
    margin-top: 5px !important;
    margin-right: 5px !important;
}

.checkbox-div {
    margin-top: -15px;
}

.filtro-estrellas {
    float: left !important;
    margin-top: 0px !important;
}

.stars-checkbox {
    float: left !important;
    margin-top: 5px !important;
    margin-right: 5px !important;
}

@media (max-width: 576px) {
    div.listado {
        margin-top: 15px !important;
        padding: 0px !important;
    }
    .img-thumbnail {
        max-width: 94%;
        height: 236px;
    }
    .lista {
        padding-left: 0px !important;
        padding-right: 0px;
        margin-left: 15px;
        margin-right: -15px;
    }
    .col-md-4.final {
        border-left: none !important;
    }
    .rounded.amenities {
        width: 40px;
        height: 25px;
        padding-left: 14px;
        float: left;
        margin-left: 8px;
        text-align: center;
    }
    h1,
    h2,
    h3,
    h4 {
        text-align: center;
        padding-top: 10px;
    }
    h4.price {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    p.texto {
        padding-bottom: 0px;
        margin-bottom: 5px;
    }
    p.card-text {
        text-align: center;
    }
    p.card-text {
        text-align: center;
    }
    p.card-text img {
        margin-left: 37% !important;
        float: left !important;
    }
    img.img-header {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    .filtros .card {
        margin-left: 15px;
        margin-right: 15px;
        width: 100% !important;
        text-align: center;
    }
    .lista {
        padding-left: 30px;
        padding-right: 0px;
        margin-top: 20px;
        width: 100%;
    }
    .form-control.form-control-lg.form-control-borderless {
        border: 1px solid #ccc;
        border-radius: 0px;
        font-size: 12px;
        padding: 5px;
        height: 30px;
    }
    .btn.btn-success.buscar {
        font-size: 12px;
        padding: 5 !important;
        margin-left: 5px;
    }
}