<!-- <div class="container col-md-6">
    <form class="form-signin" (ngSubmit)="producto()" #loginForm="ngForm">
        <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {{message}}
        </div>
        <h3 class="form-signin-heading">Agregar Producto</h3>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" class="form-control" placeholder="titulo" [(ngModel)]="productoData.name" name="name" required/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="text" class="form-control" placeholder="autor" [(ngModel)]="productoData.stars" name="stars" required/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.form.valid">Enviar</button>
    </form>
</div> -->


<div class="container-fluid" style="background:#124280; height:100px;">
    <div class="row">
        <div class="col-12">
            <img src="assets/images/logo-almundo.svg" style="padding-top:25px; padding-bottom:25px;">
        </div>
    </div>
</div>

<div class="container" style="margin-top:30px; padding-left:0px; padding-right:0px;">
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 95%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Filtros</strong></li>

                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="card" style="border: solid 1px #ccc; padding: 10px; margin-bottom:15px; background:#fff;" *ngFor='let hotel of hotels'>
                <div class="row">
                    <div class="col-md-4">
                        <img [src]="'assets/images/hotels/' + hotel.image" class="w-100">
                    </div>
                    <div class="col-md-4 px-3">
                        <div class="card-block px-3">
                            <h4 class="card-title">{{hotel.name}}</h4>
                            <p class="card-text"> <i class="fa fa-star" *ngFor="let c of hotel.stars; let x = index"></i></p>
                            <img class="rounded" [src]="'assets/icons/amenities/' + hotel.amenities[j] + '.svg'" *ngFor="let item of hotel.amenities; let j = index" style="width: 25px; height: 25px; padding-right:7px;">
                        </div>
                    </div>
                    <div class="col-md-3" style="padding:20px;">
                        <p style="color:#000; text-align:center; font-size:14px;">Precio por noche por habitación</p>
                        <h4 style="color:#df6800; text-align:center;">ARS {{hotel.price}}</h4>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">Ver Hotel</a>
                            <button class="button button3" (click)="deleteHero()"><span class="fa fa-trash"></span></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>