/* You can add global styles to this file, and also import other style files */

body {
    background: #f4f4f4 !important;
    font-family: Lato, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, sans-serif !important;
}